@charset "UTF-8";
@font-face {
  font-family: "BYUI Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTQzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTcDdSZkkecOE1hvV7ZHvhyU.ttf) format("truetype");
}
@font-face {
  font-family: "BYUI Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/TCmDhmS1RRL7aqhqZW19hwLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/uYKcPVoh6c5R0NpdEY5A-Q.woff) format("woff");
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/yYRnAC2KygoXnEC8IdU0gQLUuEpTyoUstqEm5AMlJo4.ttf) format("truetype");
}
@font-face {
  font-family: "icomoon";
  src: url("icomoon.eot?z9anye#iefix") format("embedded-opentype"), url("icomoon.ttf?z9anye") format("truetype"), url("icomoon.woff?z9anye") format("woff"), url("icomoon.svg?z9anye#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "";
}

.icon-byui-logo:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-audience:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-address-book:before {
  content: "";
}

.icon-align-center:before {
  content: "";
}

.icon-align-left:before {
  content: "";
}

.icon-align-middle:before {
  content: "";
}

.icon-align-offset:before {
  content: "";
}

.icon-align-right:before {
  content: "";
}

.icon-angle-down:before {
  content: "";
}

.icon-angle-left:before {
  content: "";
}

.icon-angle-right:before {
  content: "";
}

.icon-angle-up:before {
  content: "";
}

.icon-aperture:before {
  content: "";
}

.icon-archive:before {
  content: "";
}

.icon-at:before {
  content: "";
}

.icon-award:before {
  content: "";
}

.icon-backspace:before {
  content: "";
}

.icon-bar-graph:before {
  content: "";
}

.icon-basket:before {
  content: "";
}

.icon-battery-empty:before {
  content: "";
}

.icon-battery-full:before {
  content: "";
}

.icon-beaker:before {
  content: "";
}

.icon-bell:before {
  content: "";
}

.icon-bluetooth:before {
  content: "";
}

.icon-bold:before {
  content: "";
}

.icon-bolt-arrow:before {
  content: "";
}

.icon-bolt:before {
  content: "";
}

.icon-book-open:before {
  content: "";
}

.icon-book:before {
  content: "";
}

.icon-books:before {
  content: "";
}

.icon-box:before {
  content: "";
}

.icon-briefcase:before {
  content: "";
}

.icon-browser:before {
  content: "";
}

.icon-bug:before {
  content: "";
}

.icon-bullet-list:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-camera:before {
  content: "";
}

.icon-cart:before {
  content: "";
}

.icon-cc:before {
  content: "";
}

.icon-chart:before {
  content: "";
}

.icon-chat:before {
  content: "";
}

.icon-checked:before {
  content: "";
}

.icon-circle-angle-down:before {
  content: "";
}

.icon-circle-angle-left:before {
  content: "";
}

.icon-circle-angle-right:before {
  content: "";
}

.icon-circle-angle-up:before {
  content: "";
}

.icon-circle-arrow-down:before {
  content: "";
}

.icon-circle-arrow-left:before {
  content: "";
}

.icon-circle-arrow-right:before {
  content: "";
}

.icon-circle-arrow-up:before {
  content: "";
}

.icon-circle-triangle-down:before {
  content: "";
}

.icon-circle-triangle-left:before {
  content: "";
}

.icon-circle-triangle-right:before {
  content: "";
}

.icon-circle-triangle-up:before {
  content: "";
}

.icon-circulate:before {
  content: "";
}

.icon-clipboard:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-cloud:before {
  content: "";
}

.icon-cloudy:before {
  content: "";
}

.icon-code:before {
  content: "";
}

.icon-cog:before {
  content: "";
}

.icon-command:before {
  content: "";
}

.icon-compass:before {
  content: "";
}

.icon-contrast:before {
  content: "";
}

.icon-credit-card:before {
  content: "";
}

.icon-crop:before {
  content: "";
}

.icon-cursor:before {
  content: "";
}

.icon-delete:before {
  content: "";
}

.icon-denied:before {
  content: "";
}

.icon-desktop:before {
  content: "";
}

.icon-document:before {
  content: "";
}

.icon-dollar:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-droplet:before {
  content: "";
}

.icon-earth:before {
  content: "";
}

.icon-eject:before {
  content: "";
}

.icon-elevator:before {
  content: "";
}

.icon-ellipsis:before {
  content: "";
}

.icon-enlarge:before {
  content: "";
}

.icon-euro:before {
  content: "";
}

.icon-expand-down:before {
  content: "";
}

.icon-expand-left:before {
  content: "";
}

.icon-expand-right:before {
  content: "";
}

.icon-expand-up:before {
  content: "";
}

.icon-export:before {
  content: "";
}

.icon-eye:before {
  content: "";
}

.icon-eyedropper:before {
  content: "";
}

.icon-facebook-circle:before {
  content: "";
}

.icon-facebook-square:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-feed:before {
  content: "";
}

.icon-file-excel:before {
  content: "";
}

.icon-file-missing:before {
  content: "";
}

.icon-file-pdf:before {
  content: "";
}

.icon-file-word:before {
  content: "";
}

.icon-filepath:before {
  content: "";
}

.icon-files:before {
  content: "";
}

.icon-fire:before {
  content: "";
}

.icon-flag:before {
  content: "";
}

.icon-flashlight:before {
  content: "";
}

.icon-folder:before {
  content: "";
}

.icon-food:before {
  content: "";
}

.icon-fork:before {
  content: "";
}

.icon-forward:before {
  content: "";
}

.icon-google-plus-circle:before {
  content: "";
}

.icon-google-plus-square:before {
  content: "";
}

.icon-google-plus:before {
  content: "";
}

.icon-graduation:before {
  content: "";
}

.icon-grid2:before {
  content: "";
}

.icon-grid3:before {
  content: "";
}

.icon-grid4:before {
  content: "";
}

.icon-group:before {
  content: "";
}

.icon-hand:before {
  content: "";
}

.icon-hashtag:before {
  content: "";
}

.icon-hd:before {
  content: "";
}

.icon-headphones:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-hospital:before {
  content: "";
}

.icon-inbox:before {
  content: "";
}

.icon-infinite:before {
  content: "";
}

.icon-info:before {
  content: "";
}

.icon-instagram-circle:before {
  content: "";
}

.icon-instagram-square:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-italic:before {
  content: "";
}

.icon-key:before {
  content: "";
}

.icon-keyboard:before {
  content: "";
}

.icon-layers:before {
  content: "";
}

.icon-layout:before {
  content: "";
}

.icon-left-quote:before {
  content: "";
}

.icon-library:before {
  content: "";
}

.icon-lightbulb:before {
  content: "";
}

.icon-link-broken:before {
  content: "";
}

.icon-link:before {
  content: "";
}

.icon-linkedin-circle:before {
  content: "";
}

.icon-linkedin-square:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-list:before {
  content: "";
}

.icon-lock:before {
  content: "";
}

.icon-magnifying-glass:before {
  content: "";
}

.icon-mail-open:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-map-pin:before {
  content: "";
}

.icon-map:before {
  content: "";
}

.icon-megaphone:before {
  content: "";
}

.icon-microphone:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-moon:before {
  content: "";
}

.icon-move-down:before {
  content: "";
}

.icon-move-up:before {
  content: "";
}

.icon-move:before {
  content: "";
}

.icon-movie:before {
  content: "";
}

.icon-music-note:before {
  content: "";
}

.icon-network:before {
  content: "";
}

.icon-new-tab:before {
  content: "";
}

.icon-new-window:before {
  content: "";
}

.icon-office:before {
  content: "";
}

.icon-paintbrush:before {
  content: "";
}

.icon-pause:before {
  content: "";
}

.icon-pencil:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-picture:before {
  content: "";
}

.icon-pictures:before {
  content: "";
}

.icon-pie-chart:before {
  content: "";
}

.icon-pinterest-circle:before {
  content: "";
}

.icon-pinterest-square:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-popup:before {
  content: "";
}

.icon-pound:before {
  content: "";
}

.icon-power:before {
  content: "";
}

.icon-pushpin:before {
  content: "";
}

.icon-puzzle:before {
  content: "";
}

.icon-question-mark:before {
  content: "";
}

.icon-radio-checked:before {
  content: "";
}

.icon-radio-unchecked:before {
  content: "";
}

.icon-rain:before {
  content: "";
}

.icon-read-more:before {
  content: "";
}

.icon-redo:before {
  content: "";
}

.icon-refresh:before {
  content: "";
}

.icon-rewind:before {
  content: "";
}

.icon-right-quote:before {
  content: "";
}

.icon-sharepoint-circle:before {
  content: "";
}

.icon-sharepoint-square:before {
  content: "";
}

.icon-sharepoint:before {
  content: "";
}

.icon-shield:before {
  content: "";
}

.icon-shrink:before {
  content: "";
}

.icon-shuffle:before {
  content: "";
}

.icon-smartphone:before {
  content: "";
}

.icon-sound-off:before {
  content: "";
}

.icon-sound-on:before {
  content: "";
}

.icon-spinner:before {
  content: "";
}

.icon-square-angle-down:before {
  content: "";
}

.icon-square-angle-left:before {
  content: "";
}

.icon-square-angle-right:before {
  content: "";
}

.icon-square-angle-up:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-suitcase:before {
  content: "";
}

.icon-sun:before {
  content: "";
}

.icon-tablet:before {
  content: "";
}

.icon-tag-fill:before {
  content: "";
}

.icon-tag:before {
  content: "";
}

.icon-tags:before {
  content: "";
}

.icon-talk:before {
  content: "";
}

.icon-target:before {
  content: "";
}

.icon-terminal:before {
  content: "";
}

.icon-text:before {
  content: "";
}

.icon-thumbs-down:before {
  content: "";
}

.icon-thumbs-up:before {
  content: "";
}

.icon-timer:before {
  content: "";
}

.icon-trash:before {
  content: "";
}

.icon-triangle-down:before {
  content: "";
}

.icon-triangle-left:before {
  content: "";
}

.icon-triangle-right:before {
  content: "";
}

.icon-triangle-up:before {
  content: "";
}

.icon-trifold:before {
  content: "";
}

.icon-twitter-circle:before {
  content: "";
}

.icon-twitter-square:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-uhd:before {
  content: "";
}

.icon-underline:before {
  content: "";
}

.icon-undo:before {
  content: "";
}

.icon-unlock:before {
  content: "";
}

.icon-upload:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-vga:before {
  content: "";
}

.icon-video:before {
  content: "";
}

.icon-warning:before {
  content: "";
}

.icon-waves:before {
  content: "";
}

.icon-wrench:before {
  content: "";
}

.icon-x:before {
  content: "";
}

.icon-x1:before {
  content: "";
}

.icon-youtube-circle:before {
  content: "";
}

.icon-youtube-square:before {
  content: "";
}

.icon-youtube-text-circle:before {
  content: "";
}

.icon-youtube-text-square:before {
  content: "";
}

.icon-youtube-text:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  color: #020202;
  font-family: "BYUI Open Sans", Verdana, sans-serif;
}

.text-white {
  color: #fff;
}

.icon-byui-logo {
  background-color: #020202;
  padding: 1.25rem 1rem 1rem 1rem;
  color: #fff;
  max-width: 100%;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

.icon-search, .icon-audience, .icon-menu {
  font-size: 2.25rem;
  margin: 0.5rem;
  font-style: normal;
  cursor: pointer;
  font-family: "icomoon" !important;
  line-height: 1;
}

header {
  background-color: #056cb6;
  /*height:4rem;*/
}

/*[class*=" icon-"], [class^=icon-] {
  border:transparent;
}*/
.site-banner {
  display: grid;
  /*grid-template-columns:8rem 1fr 15rem;*/
  grid-template-columns: 1fr 2fr;
  align-items: center;
  /*flex-direction:row;
  justify-content:flex-end;*/
}

.site-banner__left {
  /*text-align:left;*/
  margin: 0;
  align-self: end;
  /*width:150%;*/
}

.site-banner__right {
  grid-column: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mobile-header-icon {
  /*color:white;*/
  background-color: transparent;
  text-decoration: none;
  border: transparent;
}

h1 {
  display: none;
}

.icon-audience {
  border: none;
}

form {
  display: none;
}

.site-title {
  background-color: #eaeaea;
  padding: 1rem;
  text-align: center;
  word-wrap: wrap;
  font-weight: 300;
  margin: 0;
  border-bottom: 1px solid #020202;
  color: #727272;
}

main {
  margin: 1.5rem 0.5rem;
}

.border-top {
  border-top: 1px solid #b4b3b5;
}

.border-bottom {
  border-bottom: 1px solid #b4b3b5;
}

.blue-text a {
  color: #0076b6;
  text-decoration: none;
}

.date {
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: -0.25rem;
}

.hero {
  padding: 0;
}

.spacing {
  margin: 2rem 0;
}

.border-full {
  border: 1px solid #b4b3b5;
}

figcaption {
  margin-left: 0.75rem;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
}

.links li {
  padding: 0.5rem 1rem;
}

.links a {
  display: block;
  text-decoration: none;
}

.links ul {
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
}

.dkgreyback {
  background-color: #727272;
}

.linkhead {
  padding: 0.75rem;
  margin: 0;
  font-size: 2.75;
  font-weight: 400;
}

.greyback {
  background-color: #eaeaea;
}

.blueback {
  background-color: #056cb6;
}

aside, article, .hero, .border-full, .message, .get-info {
  max-width: 480px;
}

.blacklink a {
  color: #020202;
}

.icon-angle-right, .icon-triangle-down {
  font-weight: 300;
}

.right {
  float: right;
}

.dates-grid span {
  font-weight: bold;
  font-size: smaller;
}

.button {
  display: inline-block;
  background-color: #0076b6;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/*.button::after {
  content: "";
  clear: both;


}*/
.button a {
  text-decoration: none;
  letter-spacing: 1.25;
}

.clearfix {
  clear: both;
}

.newsroom img {
  display: none;
}

.newsroom p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.rounded {
  border-radius: 5px;
}

.message-head {
  background-color: #eaeaea;
  color: #020202;
  margin: 0;
  padding: 0.25rem 1rem;
  text-align: left;
  /*display:block;*/
}

.devo {
  padding: 0.5rem;
}

/*.devo {
  display:grid;
  grid-template-columns:2fr 3fr;
}
.devo img {
  grid-column:1;
}
.devo p {
  color: $light-gray;
  background-color: $dark-gray;
  grid-column:2;
  grid-row:1;

}
.devo-details {
  display:flex;
  flex-direction:column;
  grid-column:2;
  grid-row:2;
} 
.devo-foot {
  padding:2rem;
}
*/
footer, .footer-graphic::before {
  background: url(https://www.byui.edu/prebuilt/stylenew/images/foot/taylor_graphic.gif) bottom no-repeat;
  content: "";
  display: block;
  height: 146px;
  padding: 0;
}

/*.dates-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 5fr;

}*/
@media only screen and (min-width: 48em) {
  main {
    max-width: 1259px;
    margin: 0 auto;
  }

  .wrapper {
    margin: 1.5rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }

  .site-banner__left {
    margin-left: 2rem;
    /*width:200%;*/
  }

  .icon-byui-logo {
    /*margin-left:2rem;*/
    padding: 2.5rem 1.25rem 1.25rem 1rem;
  }

  .site-title {
    /* grid-column:1/4;
     grid-row:1;*/
    text-align: left;
    padding-left: 2rem;
    font-size: 2rem;
    border-bottom: none;
    color: #727272;
  }

  .hero {
    max-width: 100%;
    padding: 0;
    margin: 0;
    grid-column: 1/3;
    grid-row: 1/3;
  }

  aside {
    max-width: 350px;
    grid-column: 3;
    grid-row: 2/4;
  }

  .get-info {
    grid-column: 3;
    grid-row: 1;
  }

  .interest-boxes div {
    margin-right: 2rem;
  }

  .interest-boxes div:last-child {
    margin-right: 0;
  }

  .interest-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/3;
    grid-row: 3;
  }

  .message {
    grid-column: 3;
    grid-row: 4;
  }

  .spacing {
    margin: 0;
  }

  article {
    grid-column: 1/3;
    grid-row: 4/6;
  }

  article, .hero {
    max-width: 100%;
  }

  .newsroom img {
    display: inline;
    max-width: 125px;
    float: left;
    margin: 1rem 1rem 1rem 0;
  }

  .links ul {
    margin-top: 0;
    padding-top: 0;
  }

  footer {
    grid-column: 1/4;
    grid-row: 6;
  }
}

/*# sourceMappingURL=styles.css.map */
