.menu-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    /*z-index: 2;*/
    z-index: 999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background:black;
      padding:.125rem;
    }

    &.open  {
      
      left:25%;
    }

    
    span,
    span::before,
    span::after {
      position: absolute;
      content: '';
      width: 28px;
      height: 2.5px;
      background: grey;
      border-radius: 20px;
      transition: all 500ms ease-out;
    }
    
    span::before {
      top: -8px;
    }
    
    span::after {
      top: 8px;
    }
    
    &.open > span  {
      background: transparent;
    }
  
    &.open > span::before,
    &.open > span::after {
     /* background: white;*/
      top: 0px;
    }
  
    &.open > span::before  {
      transform: rotate(-225deg);
    }
  
    &.open > span::after  {
      transform: rotate(225deg);
    }
    
  }
  
  /* SLIDING MENU PANEL */
  .menu {
    position: absolute;
    left: -30%;
    /*z-index: 1;*/
    z-index: 998;
    /*visibility:hidden;
    opacity:0;*/
    
    background: black;
     width: 30%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition:all 1s ease-in-out;
    @media only screen and (max-width: 600px) {
      width: 250px;
      left: -250px;
      padding: 50px;
    }
    &.open {
      left: 0;
      /*visibility:visible;*/
      
    }
    
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background: white;
    display: flex;
   /* justify-content: start;
    align-items:start;*/
    
  }
  
  h1, p {
    color: black;
    margin:2rem 1rem;
    padding-top:2rem;
   
  }
  .menu p {
    color:grey;
    font-size:1.5rem;
    margin:1rem;
  }
  